grossclient/web/WEB-INF/wsdl/localhost_8080/GrossSalaryApp/SalaryCalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://grosssalary/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://grosssalary/" name="SalaryCalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://grosssalary/" schemaLocation="http://localhost:8080/GrossSalaryApp/SalaryCalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="CalculateDA">
<part name="parameters" element="tns:CalculateDA"/>
</message>
<message name="CalculateDAResponse">
<part name="parameters" element="tns:CalculateDAResponse"/>
</message>
<message name="CalculateHRA">
<part name="parameters" element="tns:CalculateHRA"/>
</message>
<message name="CalculateHRAResponse">
<part name="parameters" element="tns:CalculateHRAResponse"/>
</message>
<message name="CalculateGross">
<part name="parameters" element="tns:CalculateGross"/>
</message>
<message name="CalculateGrossResponse">
<part name="parameters" element="tns:CalculateGrossResponse"/>
</message>
<portType name="SalaryCalculator">
<operation name="CalculateDA">
<input wsam:Action="http://grosssalary/SalaryCalculator/CalculateDARequest" message="tns:CalculateDA"/>
<output wsam:Action="http://grosssalary/SalaryCalculator/CalculateDAResponse" message="tns:CalculateDAResponse"/>
</operation>
<operation name="CalculateHRA">
<input wsam:Action="http://grosssalary/SalaryCalculator/CalculateHRARequest" message="tns:CalculateHRA"/>
<output wsam:Action="http://grosssalary/SalaryCalculator/CalculateHRAResponse" message="tns:CalculateHRAResponse"/>
</operation>
<operation name="CalculateGross">
<input wsam:Action="http://grosssalary/SalaryCalculator/CalculateGrossRequest" message="tns:CalculateGross"/>
<output wsam:Action="http://grosssalary/SalaryCalculator/CalculateGrossResponse" message="tns:CalculateGrossResponse"/>
</operation>
</portType>
<binding name="SalaryCalculatorPortBinding" type="tns:SalaryCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CalculateDA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalculateHRA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalculateGross">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SalaryCalculatorService">
<port name="SalaryCalculatorPort" binding="tns:SalaryCalculatorPortBinding">
<soap:address location="http://localhost:8080/GrossSalaryApp/SalaryCalculatorService"/>
</port>
</service>
</definitions>